.form {
  &__row {
    display: flex;
  }

  &__group {
    display: block;
  }

  &__group:not(:last-child) {
    margin-bottom: $size-x16;
  }

  &__control {
    border-radius: $size-x04;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-size: $size-x16;
    font-weight: normal;
    padding: $size-x08;
    width: 100%;
  }

  &__control,
  &__control:focus {
    border: 1px solid $color-grey;
    outline: 0;
  }

  &__control:disabled {
    background-color: $color-light-grey;
    cursor: not-allowed;
  }
}
