.slide-enter-active,
.slide-leave-active {
  overflow: hidden;
  transition: max-height 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.slide-enter-to,
.slide-leave {
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  max-height: 0;
  overflow: hidden;
}

.barba-leave-active,
.barba-enter-active,
.barba-leave-active .slide,
.barba-enter-active .slide {
  transition: transform 0.6s;
}

.barba-leave .slide {
  transform: translateX(-100%);
}

.barba-leave-to .slide {
  transform: translateX(0);
}

.barba-enter .slide {
  transform: translateX(0);
}

.barba-enter-to .slide {
  transform: translateX(100%);
}
