$size-x01: 01px;
$size-x02: 02px;
$size-x04: 04px;
$size-x06: 06px;
$size-x08: 08px;
$size-x10: 10px;
$size-x12: 12px;
$size-x14: 14px;
$size-x16: 16px;
$size-x18: 18px;
$size-x20: 20px;
$size-x22: 22px;
$size-x24: 24px;
$size-x26: 26px;
$size-x28: 28px;
$size-x30: 30px;
$size-x32: 32px;
$size-x34: 34px;
$size-x36: 36px;
$size-x38: 38px;
$size-x40: 40px;
$size-x42: 42px;
$size-x44: 44px;
$size-x46: 46px;
$size-x48: 48px;
$size-x50: 50px;
$size-x52: 52px;

$size-container: 680px;
$size-container-large: 980px;
