$color-white: #FFF;
$color-black: #000;
$color-light-grey: #DDD;
$color-grey: #888;
$color-red: #F00;
$color-blue: #55F;

$size-x01: 0.1rem;
$size-x02: 0.2rem;
$size-x04: 0.4rem;
$size-x06: 0.6rem;
$size-x08: 0.8rem;
$size-x10: 1rem;
$size-x12: 1.2rem;
$size-x14: 1.4rem;
$size-x16: 1.6rem;
$size-x18: 1.8rem;
$size-x20: 2rem;
$size-x22: 2.2rem;
$size-x24: 2.4rem;
$size-x26: 2.6rem;
$size-x28: 2.8rem;
$size-x30: 3rem;
$size-x32: 3.2rem;
$size-x34: 34rem;
$size-x36: 3.6rem;
$size-x38: 3.8rem;
$size-x40: 4rem;
$size-x42: 4.2rem;
$size-x44: 4.4rem;
$size-x46: 4.6rem;
$size-x48: 4.8rem;
$size-x50: 5rem;
$size-x52: 5.2rem;

$size-container: 68rem;
$size-container-large: 98rem;
