.text-decoration {
  &-none { text-decoration: none; }
}

.text {
  &-uppercase { text-transform: uppercase; }
  &-lowercase { text-transform: uppercase; }
  &-capitalize { text-transform: capitalize; }

  &-left { text-align: left; }
  &-right { text-align: right; }
  &-center { text-align: center; }
}

.font-weight {
  &-bold { font-weight: bold; }
  &-light { font-weight: lighter; }
  &-normal { font-weight: normal; }
}

.font-size {
  &-x10 { font-size: $size-x10; }
  &-x12 { font-size: $size-x12; }
  &-x14 { font-size: $size-x14; }
  &-x16 { font-size: $size-x16; }
  &-x18 { font-size: $size-x18; }
  &-x20 { font-size: $size-x20; }
  &-x22 { font-size: $size-x22; }
  &-x24 { font-size: $size-x24; }
  &-x26 { font-size: $size-x26; }
  &-x28 { font-size: $size-x28; }
  &-x30 { font-size: $size-x30; }
  &-x32 { font-size: $size-x32; }

  &-half { font-size: 0.5em; }
  &-quater { font-size: 0.25em; }
  &-3-quaters { font-size: 0.75em; }
}

.mega-heading { font-size: 6.2rem; }
